streamlit
requests
langchain
langchain_openai
openai
pytest
python-dotenv
streamlit_chat
langchain
langchain-community
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain_experimental